body {
  background-image: linear-gradient(to top, rgb(3, 3, 72), rgb(13, 11, 17));
  background-color: black;
}

.header {
  font-size: 4em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

.title-text {
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em #f4aab9;
  justify-self: center;
}

#AppGrid {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav nav nav "
    "StartPage StartPage StartPage StartPage StartPage"
    "AboutMe AboutMe AboutMe AboutMe AboutMe"
    "Projects Projects Projects Projects Projects"
    "Contact Contact Contact Contact Contact"
    "Footer Footer Footer Footer Footer";
}

#AppGrid > #Navbar {
  grid-area: nav;
}

#AppGrid > #StartPage {
  grid-area: StartPage;
}

#StartPage {
  padding: 5% 0 5% 0;
}

#AppGrid > #AboutMe {
  grid-area: AboutMe;
}

#AboutMe {
  margin: 5% 0 5% 0;
  justify-items: center;
}

#AppGrid > #Projects {
  grid-area: Projects;
  max-width: 80%;
}

#Projects {
  max-width: 80%;
  justify-self: center;
  padding-bottom: 5%;
}

#AppGrid > #Contact {
  grid-area: Contact;
}

#AppGrid > #Footer {
  grid-area: Footer;
}

#project {
  font-size: 5em;
  margin-bottom: 5%;
}
