body {
  background-image: linear-gradient(to top, rgb(3, 3, 72), rgb(13, 11, 17));
  background-color: black;
  height: 100%;
}

.header {
  font-size: 4em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

.title-text {
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em #f4aab9;
  justify-self: center;
}

#AppGrid {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "Intro Intro Intro Intro Intro"
    "AboutMe AboutMe AboutMe AboutMe AboutMe"
    "Projects Projects Projects Projects Projects"
    "Contact Contact Contact Contact Contact"
    "Footer Footer Footer Footer Footer";
}

#AppGrid > #Intro {
  border: solid lime;
  grid-area: Intro;
  min-width: 100vh;
  min-height: 100vh;
  align-content: center;
}

#AppGrid > #AboutMe {
  padding-top: 5%;
  grid-area: AboutMe;
}

#AboutMe {
  margin-top: 5%;
}

#AppGrid > #Projects {
  grid-area: Projects;
  max-width: 80%;
  justify-self: center;
  border: solid red;
}

#Projects {
  margin: 5%;
  max-width: 80%;
}

#AppGrid > #Contact {
  grid-area: Contact;
}

#AppGrid > #Footer {
  grid-area: Footer;
}

#project {
  font-size: 5em;
  margin-bottom: 5%;
}
