/*Global css styles for all components*/
.container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.container-row {
  display: inline-flex;
  flex-direction: row;
  justify-items: space-between;
}

.container .column {
  flex-direction: column;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  align-content: center;
  background-color: rgb(0, 153, 255);
  color: rgb(255, 254, 254);
  padding: 1;
  border-color: black;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  height: 3rem;
  opacity: 0.8;
  position: sticky;
  top: 0px;
}

.nav-item {
  cursor: pointer;
  margin-left: 5%;
  width: 100%;
  flex-wrap: nowrap;
  color: black;
}

.navbar-list {
  list-style-type: none;
}

/*StartPage.css*/
.startdiv {
  margin-top: 1%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.img-profile {
  display: block;
  width: auto;
  height: 600px;
  border-radius: 50% 50% 2% 50%;
  box-shadow: 0 0 2em 2em #f4aab9, 0 0 0 1em #66ccff;
  margin: 4em;
  padding: 5em;
  justify-self: end;
}

.sideimg {
  color: white;
  font-family: "Palatino";
  font-size: 2em;
}

.typer {
  font-family: "Palatino";
  color: white;
  text-wrap: nowrap;
  overflow: hidden;
  max-width: fit-content;
  border-right: 0.2ch solid white;
  margin: 0 auto;
  letter-spacing: auto;
  animation: typing 2s steps(30, end) infinite alternate-reverse,
    blink-caret 0.75s step-end infinite;
  animation-delay: 1s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/*Project Cards.css*/
.grid-container {
  display: grid;
  grid-template-areas: "card card card-sm";
}

.card {
  width: 25rem;
  background-color: aqua;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 4px 10px red;
  background-color: white;
}

.card:hover {
  background-color: rgb(0, 0, 0);
  transform: translateY(-5px);
  color: white;
}

.txt {
  font-family: "Palatino";
  color: white;
  max-width: 75%;
}

/*AboutMe.css*/
.header {
  font-size: 5em;
  color: linear-gradient(left, white, pink);
}

#About {
  padding: 5%;
  margin-top: 200px;
  align-items: start;
}
#column {
  display: inline-block;
}

.AboutPhoto {
  margin-right: 1%;
  height: 500px;
}

.button-container {
  display: inline-block;
  vertical-align: bottom;
}

.button-collapse {
  position: relative;
  padding: 5px 30px;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  justify-content: center;
}

.button-text {
  position: relative;
  color: white;
  z-index: 1; /* Keep the text above the filling effect */
}

.filler {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red; /* Darker shade for the fill effect */
  border-radius: 4px;
  transform-origin: bottom left;
  transform: scale(0, 0); /* Start with no fill */
  transition: transform 0.4s;
}

.button-collapse:hover .filler {
  transform: scale(1, 1);
}

.button-collapse:focus {
  outline: none;
}

.c1 {
  display: inline-block;
}
.c2 {
  display: inline-block;
}
.c3 {
  display: inline-block;
}
.c4 {
  display: inline-block;
}
div .sk1 {
  vertical-align: top;
  font-family: "Palatino";
  grid-area: skills;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 0.15em solid white;
  letter-spacing: auto;
  animation: typing 250ms steps(3, end) forwards;
}

div .sk2 {
  vertical-align: top;
  font-family: "Palatino";
  color: white;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 0.15em solid white;
  letter-spacing: auto;
  animation: typing 250ms steps(4, end) forwards;
  animation-delay: 250ms;
}
div .sk3 {
  vertical-align: top;
  font-family: "Palatino";
  color: white;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 0.15em solid white;
  letter-spacing: auto;
  animation: typing 500ms steps(8, end) forwards;
  animation-delay: 500ms;
}
div .sk4 {
  vertical-align: top;
  font-family: "Palatino";
  color: white;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 0.15em solid white;
  letter-spacing: auto;
  animation: typing 250ms steps(4, end) forwards;
  animation-delay: 1s;
}

div .ed1 {
  vertical-align: top;
  font-family: "Palatino";
  color: white;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 0.15em solid white;
  letter-spacing: auto;
  animation: typing 1s steps(10, end) forwards;
}
