/*Global css styles for all components*/
.border-check{
    border: solid red;
}
.container{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
}

.container .row{
    flex-direction: row;
    flex-wrap: wrap;
}

.container .column{
    flex-direction: column;
    flex-wrap: wrap;
}

.navbar{
    display: flex;
    align-content: center;
    background-color: rgb(0, 153, 255);
    color: rgb(255, 254, 254);
    padding: 1;
    border-color: black;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 3rem;
    opacity: 0.8;
    position: sticky;
    top: 0px;
}

.navbar-list{
    list-style-type: none;
}

/*StartPage.css*/
.startdiv{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.img-profile{
    width: auto;
    height: 300px;
    margin: auto;
    border-radius: 50% 50% 2% 50%;
    box-shadow: -25px 25px 25px purple;
    justify-content: end;
}

.sideimg{
    color: white;
    transform: translateX(25%)
}

.typer{
    color:white;
    text-wrap: nowrap;
    overflow: hidden;
    max-width: fit-content;
    border-right: .2ch solid white;
    margin: 0 auto;
    letter-spacing: auto; 
    animation: typing 2s steps(30) infinite alternate-reverse,
    blink-caret .75s step-end infinite;
}

@keyframes typing{
    from{width: 0}
    to{width: 100%}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }


/*Project Cards.css*/
.grid-container{
    display: grid;
    grid-template-areas: 
        "card card card-sm";
        
}

.card{
    width: 18rem;
    background-color:aqua;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 4px 10px red;
    background-color: white
}

.card:hover{
    background-color: rgb(0, 0, 0);
    transform: translateY(-5px);
    color: white;
}

.txt{
    color: white;
    border: solid red;
    max-width: 75%;
}