/*Global css styles for all components*/

#navbarNav {
  justify-content: end;
  @media (max-width: 1199px) {
    justify-content: space-around;
  }
}

#navbar {
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  opacity: 0.9;
  background-color: rgb(80, 68, 167);
}

.nav-links {
  font-size: 30px;
}

#nav-item {
  color: black;
}

#nav-items {
  @media (max-width: 1200px) {
    justify-self: center;
    max-width: fit-content;
  }
}

.navbar-brand {
  width: 50px;
}

#logo {
  width: 100%;
  height: auto;
}

#logo:hover {
  transform: scale(2);
  cursor: pointer;
}

#nav-item:hover {
  transform: scale(1.5);
  color: white;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em #f4aab9;
  cursor: pointer;

  @media (max-width: 1200px) {
    transform: scale(1);
  }
}

/*StartPage.css*/
.Intro {
  align-content: end;
  height: 100vh;
  background-color: black;
  background-image: url(./Photos/Intro-Background.jpg);
}

.side-img {
  color: white;
  font-family: "Palatino";
  font-size: 2em;
  animation: scaleOut 1s forwards;
  animation-delay: 1s;
  align-content: center;
  height: 90%;
  opacity: 0;
  transform: scale(0);
}

@keyframes scaleOut {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.img-text {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em #f4aab9;
  font-size: 3em;
  font-family: "Palatino";
  color: white;
}

.bottom {
  align-self: end;
  width: 100%;
  height: 5%;
  background-color: rgba(85, 85, 170, 0.477);
  border-start-start-radius: 2em;
  border-start-end-radius: 2em;
}

/*AboutMe.css*/
#About {
  justify-self: center;
}

.header {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em #f4aab9;
  font-size: 5em;
  color: linear-gradient(left, white, pink);
}

.About-txt {
  color: white;
}

#Skills {
  display: grid;
  color: black;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". Title ."
    "Cpp Python Java"
    "React Typescript Css";
}

#Skills > #Title {
  grid-area: Title;
  justify-items: center;
}

#Skills > #Cpp {
  grid-area: Cpp;
  display: flex;
  background-color: white;
  border-radius: 10%;
  border: solid rgb(194, 19, 121);
  box-shadow: 0 0 50px 0 red;
  width: 100px;
  height: 100px;
  font-size: 4em;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

#Skills > #Python {
  grid-area: Python;
  display: flex;
  background-color: white;
  border-radius: 10%;
  border: solid rgb(194, 19, 121);
  box-shadow: 0 0 50px 0 red;
  width: 100px;
  height: 100px;
  font-size: 4em;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  animation-delay: 500ms;
}

#Skills > #Java {
  grid-area: Java;
  display: flex;
  background-color: white;
  border-radius: 10%;
  border: solid rgb(194, 19, 121);
  box-shadow: 0 0 50px 0 red;
  width: 100px;
  height: 100px;
  font-size: 4em;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  animation-delay: 1s;
}

#Skills > #React {
  grid-area: React;
  display: flex;
  background-color: white;
  border-radius: 10%;
  border: solid rgb(194, 19, 121);
  box-shadow: 0 0 50px 0 red;
  width: 100px;
  height: 100px;
  font-size: 4em;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  animation-delay: 0s;
}

#Skills > #Typescript {
  grid-area: Typescript;
  display: flex;
  background-color: white;
  border-radius: 10%;
  border: solid rgb(194, 19, 121);
  box-shadow: 0 0 50px 0 red;
  width: 100px;
  height: 100px;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  animation-delay: 500ms;
}

#Skills > #Css {
  grid-area: Css;
  display: flex;
  background-color: white;
  border-radius: 10%;
  border: solid rgb(194, 19, 121);
  box-shadow: 0 0 50px 0 red;
  width: 100px;
  height: 100px;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  animation-delay: 1s;
}

.logo {
  font-size: 4em;
  opacity: 0;
  transform: translate(-150%) scale(0);
}

.fadeIn {
  animation: fadeLogo 500ms forwards;
}

@keyframes fadeLogo {
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

.fadeIn:hover {
  transform: scale(1.1);
}

/*Project Cards.css*/
.Projects {
  display: flex;
  justify-items: center;

  @media (max-width: 1200px) {
    display: block;
  }
}

.card {
  max-width: 50%;
  max-height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 50px 0 red;
  overflow: hidden;
  opacity: 0;
  transform: translateY(50%);
  justify-self: center;
}

#projects {
  animation: fadeBottom 2s forwards;
}

@keyframes fadeBottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#projects:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.txt {
  font-family: "Palatino";
  color: white;
  max-width: 75%;
}

/*Contacts.css*/
#reach {
  max-width: 50%;

  @media (max-width: 991px) {
    max-width: 100%;
  }
}

#form {
  width: 100%;
}

.connect {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em #f4aab9;
  color: white;
}

::placeholder {
  opacity: 1;
  color: black;
}

#message {
  text-align: top;
  height: 100px;
}

/* Footer.tsx */
#footer {
  color: grey;
  justify-items: space-between;
}
